<hello name="{{ name }}"></hello>
<p>
  Perhitungan Angular
</p>

  <input [(ngModel)] = "a" type="text" id="txt1"> ^
  <input [(ngModel)] = "b" type="text" id="txt2"> 
    <p>
 <button (click)="KlikButton()">Hitung</button>
 {{pesan}}
 </p>
 <ng-template
  *ngIf = "cek; then Ganjil; else Genap">
</ng-template>
<ng-template #Ganjil>
  <p>Ganjil {{ hasil }}</p>
  <div *ngFor = "let data of PolaA">
      {{data}}
    </div>
</ng-template>
<ng-template #Genap>
  <p>Genap {{ hasil }}</p>
  <div *ngFor = "let data of PolaB">
      {{data}}
    </div>
</ng-template>
 

