<hello name="{{ name }}"></hello>
<p>
  Perhitungan Angular
</p>

  <input [(ngModel)] = "a" type="text" id="txt1"> *
  <input [(ngModel)] = "b" type="text" id="txt2"> 
  {{ a*b }}

<ng-template *ngIf ="angka4 % 2 == 0; then showBlock; else notShowBlock">
 </ng-template>

  <ng-template #showBlock>
    <div *ngFor = "let data of PolaB">
      {{data}}
    </div>
  </ng-template>

    <ng-template #notShowBlock>
    <div *ngFor = "let data of PolaA">
      {{data}}
    </div>
  </ng-template>

  <p>
 <button (click)="klikButton()">Hapus</button>
 {{pesan}}
 </p>